/* globals */
h1, h2 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size : 25pt;
  font-weight: 900;
}

button {
  height: 3em;
  font-weight: bold;
  border-radius: 3em;
  border: 2px solid rgb(206, 206, 206);
  background: transparent;
  color:  rgb(206, 206, 206);
  text-align: center;
  margin: 0.5em;
  padding: 0 1em;
  transition: 550ms ease-in-out;
}

button:hover {
  background:  rgba(225,9,175,1);
  border: 2px solid rgba(206, 206, 206, 0);
  transition: 150ms ease-in-out;
}

button img {
  height: 1.1em;
  width: 1.1em;
  float: left;
  margin-right: 0.5em;
}

.slick-dots li button:before {
  color: white;
}

.text-gradient {
    background-image: rgb(225,9,175);
    background-image: -moz-linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    background-image: -webkit-linear-gradient(170deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    background-image: linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    background-image: linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.energy-gradient {
  background: rgb(225,9,175);
  background: -moz-linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
  background: -webkit-linear-gradient(170deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
  background: linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e109af",endColorstr="#fb782f",GradientType=1);
}

.marquee {
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  /* box-sizing: border-box; */
}
.marquee-content {
  text-align: unset;
  width: 800%;
  left: 10vw;
  /* height: 6em; */
  display: flex;
  /* padding-left: 100%; */
  animation: marquee 60s linear infinite;
}

.tech-card {
  margin: 5vw 1vw;
  background-color: #fff;
  border-radius: 5px;
  padding: 2% 7%;
}

.tech-card img{
  height: 100%;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  2%   { transform: translate(1%, 0); }
  50%  { transform: translate(-88%, 0); }
  100% { transform: translate(0, 0); }
}

/* For mobile phones: */
.title-panel {
  position: relative;
  overflow: hidden;
  /* height: 36em; */
  width: 100%;
}

.center-text {
  text-align: center;
}

.highlighted {
   color: white;
}

.m-10vw {
  margin: 10vw 10vw 0vw 10vw;
}
.m-top-10vw {
  margin-top: 10vw;
}

.m-bottom-10vw {
  margin-bottom: 10vw;
}

.m-top-5vw {
  margin-top: 5vw;
}

.m-bottom-5vw {
  margin-bottom: 5vw;
}

.p-bottom-10vw {
  padding-bottom: 10vw;
}
.p-top-10vw {
  padding-top: 10vw;
}

.p-sides-10vw {
  padding-left: 10vw;
  padding-right: 10vw;
}

.p-all-10vw {
  padding: 10vw;
}

.p-bottom-5w {
  padding-bottom: 5vw;
}
.p-top-5vw {
  padding-top: 5vw;
}

.drop-shadow {
  -webkit-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
}


.top-splash {
  position: relative;
  top: -4em;
  left: 4em;
  width: 232vw;
}

.portrait {
  position: relative;
  width: 80vw;
}




@media only screen and (min-width: 600px) {
  /* For tablets: */

}

@media only screen and (min-width: 768px) {
  /* For desktop: */

}