/* globals */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
}

h1, h2 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size : 8vw;
  font-weight: 900;
}

p { 
  font-size : 4vw;
}

button {
  height: 3em;
  font-weight: bold;
  border-radius: 3em;
  border: 2px solid rgb(206, 206, 206);
  background: transparent;
  color:  rgb(206, 206, 206);
  text-align: center;
  margin: 0.5em;
  padding: 0 1em;
  transition: 550ms ease-in-out;
}

button:focus {outline:0;}

button:hover {
  background:  rgba(225,9,175,1);
  border: 2px solid rgba(206, 206, 206, 0);
  transition: 150ms ease-in-out;
  -webkit-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
}

button img {
  height: 1.1em;
  width: 1.1em;
  float: left;
  margin-right: 0.5em;
}

.app {
  width: 100%;
  margin: 0%;
}

.bottom-links img {
  margin: 0 1vw;
  height: 10vw;
  transition: 550ms ease-in-out;
  
}

.bottom-links img:hover {
  transform: scale(1.1);
  transition: 150ms ease-in-out;
}

.slick-dots li button:before {
  color: white;
}

.text-gradient {
    background-image: rgb(225,9,175);
    background-image: -moz-linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    background-image: -webkit-linear-gradient(170deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    background-image: linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    background-image: linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.energy-gradient {
  background: rgb(225,9,175);
  background: -moz-linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
  background: -webkit-linear-gradient(170deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
  background: linear-gradient(270deg, rgba(225,9,175,1) 0%, rgba(251,120,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e109af",endColorstr="#fb782f",GradientType=1);
}

.marquee {
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  /* box-sizing: border-box; */
}
.marquee-content {
  text-align: unset;
  width: 800%;
  left: 10vw;
  /* height: 6em; */
  display: flex;
  /* padding-left: 100%; */
  animation: marquee 60s linear infinite;
}

.tech-card {
  margin: 5vw 1vw;
  background-color: #fff;
  border-radius: 5px;
  padding: 2% 7%;
  
}

.tech-card img{
  height: 100%;
}

.title-panel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sam-logo {
  margin: 10vw 10vw 
}

.top-splash {
  margin: -12vw 0em 10vw 19vw;
  height: 22em;
}

.hero-panel {
  /* overflow: hidden; */
  text-align: center;
  padding: 10vw 0;
}

.hero-panel-text {
  margin: 10vw
}

.project-panel {
  text-align: center;
  padding: 10vw 0;
}

.project {
  position: relative; 
  z-index: 20;
}


.center-text {
  text-align: center;
}

.highlighted {
   color: white;
}

.m-10vw {
  margin: 10vw 10vw 0vw 10vw;
}
.m-top-10vw {
  margin-top: 10vw;
}

.m-bottom-10vw {
  margin-bottom: 10vw;
}

.m-top-5vw {
  margin-top: 5vw;
}

.m-bottom-5vw {
  margin-bottom: 5vw;
}

.p-bottom-10vw {
  padding-bottom: 10vw;
}
.p-top-10vw {
  padding-top: 10vw;
}

.p-sides-10vw {
  padding-left: 10vw;
  padding-right: 10vw;
}

.p-all-10vw {
  padding: 10vw;
}

.p-bottom-5w {
  padding-bottom: 5vw;
}
.p-top-5vw {
  padding-top: 5vw;
}

.drop-shadow {
  -webkit-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.2);
}

.footer-panel {
  overflow: hidden;
  position: relative;
  margin-top: -66vw;
  z-index: 5;
}

.bottom-splash {
  width: 232vw;
    position: relative;
    bottom: -4px;
    right: 25em;
}

.portrait {
  position: relative;
  width: 80vw;
  margin: 0 0 0 0;
}

.bottom-links {
  position: relative;
  z-index: 30;
}

.iframe-vid {
  height: 100%;
  display: block;
  width: 100%;
  background-color: red;
}

.slider-video {
  border: none;
  /* width: 100%; */
  /* height: 100%; */
}

.ytp-show-cards-title {
  display: none;
}

/* paint colors */
.f1c0 {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.05%;
}

.f2c0 {
  fill: #acacac;
  stroke: #acacac;
  stroke-width: 0.05%;
}

.f3c0 {
  fill: #595959;
  stroke: #595959;
  stroke-width: 0.05%;
}

.f1c1 {
  fill: #fb782f;
  stroke: #fb782f;
  stroke-width: 0.05%;
}

.f2c1 {
  fill: #c75d22;
  stroke: #c75d22;
  stroke-width: 0.05%;
}

.f3c1 {
  fill: #6e3414;
  stroke: #6e3414;
  stroke-width: 0.05%;
}

.f1c2 {
  fill: #e109af;
  stroke: #e109af;
  stroke-width: 0.05%;
}

.f2c2 {
  fill: #9c0579;
  stroke: #9c0579;
  stroke-width: 0.05%;
}

.f3c2 {
  fill: #5c0347;
  stroke: #5c0347;
  stroke-width: 0.05%;
}

.flash {
  /* flash is disabled on mobile devices */
}

@keyframes pulsate {
  0%   { 
    fill: rgba(0, 0, 0, 1); 
    stroke: 2px solid rgba(0, 0, 0, 1);
  }
  50%  { 
    fill: rgba(0, 0, 0, 0);
    stroke: 2px solid rgba(0, 0, 0, 1); 
  }
  100% { 
    fill: rgba(0, 0, 0, 1); 
    stroke: 2px solid rgba(0, 0, 0, 1);
  }
}

/* MOBLIES DEVICES */

@media only screen and (min-width: 440px) {
  .top-splash {
    margin: -7vw 0em 10vw 10em;
    height: 23em;
  }  
}


@media only screen and (min-width: 546px) {
  .top-splash {
    margin: -10vw 0em 10vw 6em;
    height: 36em;
  }  
}

@media only screen and (min-width: 678px) {
  .top-splash {
    margin: -10vw 0em 10vw 11em;
    height: 43em;
  } 
  
}

@media only screen and (min-width: 870px) {
  .top-splash {
    margin: -3vw 0em 8vw 14em;
    height: 49em;
  }  
}

@media only screen and (min-width: 1040px) {
  .top-splash {
    margin: -3vw 0em 10vw 20em;
    height: 57em;
  }  
}

/* DESKTOPS */

@media only screen and (min-width: 1280px) {


  h1,h2 {
    font-size: 8vh;
    text-align: left;
    margin: 0 7vw;
  }

  p {
    font-size: 2.5vh;
    text-align: left;
  }

  .flash {
    animation: pulsate 2s infinite;
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1px;
  }
  .sam-logo {
    margin: 15vw 7vw 0vw;
    height: 13vw;
  }
  .top-splash {
    height: 30vw;
    margin: -47vw 0vw 1vw 42vw;
    height: 59vw;
  }

  .hero-panel {
    padding: 6vw 0;
  }

  .hero-panel-text {
    margin: 1vw 7vw;
    width: 45vw;
  }

  .portrait {
    height: 42vh;
    width: auto;
    left: 47vh;
    top: -44vh;
  }

  .tech-marquee {
    margin: -47vh 0 -6vh 0;
  }


}

/* @media only screen and (min-width: 1920px) {



} */